main {
  display: flex;
  background: #fff;
  flex-direction: column;
  margin: 0 2% !important;
}
.mainDark {
  display: flex;
  background: #171613;
  flex-direction: column;
  margin: 0 2% !important;
}

.mainLetterSize {
  display: flex;
  background: #fff;
  flex-direction: column;
  margin: 0 2% !important;
}

.mainColorBlindness {
  display: flex;
  background: #fff;
  flex-direction: column;
  margin: 0 2% !important;
}

.mainColorBlindness img {
  filter: grayscale(100%);
}

header {
  display: flex;
  background: #fff;
  flex-direction: column;
  margin: 0 2% !important;
  margin-bottom: 20px !important;
}
.headerDark {
  display: flex;
  background: #171613;
  flex-direction: column;
  margin: 0 2% !important;
  margin-bottom: 20px !important;
}

p {
  font-size: 12px;
  color: #333333;
  padding-bottom: 5px;
}

.mainLetterSize p {
  font-size: 20px;
  color: #333333;
  padding-bottom: 5px;
}

h1 {
  font-size: 32px;
}

.mainLetterSize h2 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
  color: #1e1e1e;
  padding-bottom: 5px;
}

.mainLetterSize h3 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
  color: #1e1e1e;
  padding-bottom: 5px;
}

.mainLetterSize h4 {
  font-size: 27px;
}

h4 {
  font-size: 18px;
  color: #1e1e1e;
  padding-bottom: 5px;
}

.mainLetterSize h5 {
  font-size: 27px;
}

h5 {
  font-size: 15px;
  color: #818181;
  padding-bottom: 5px;
}

.mainLetterSize h6 {
  font-size: 18px;
}

h6 {
  font-size: 13px;
  color: #818181;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.row-input {
  display: flex;
}

.row-input > div {
  width: 50%;
}

.row-input > :nth-child(1) {
  margin-right: 15px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 8px;
}

.menuColorBlindness {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 8px;
}

.menuLetterSize {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 8px;
}

.menuColorBlindness .text-logo {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fce803;
}

.text-logo {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(155, 39, 209);
}

.text-logo-mainLetterSize {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(155, 39, 209);
}
.menuDark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 8px;
  background-color: #171613;
}
.menuDark a {
  display: flex;
  align-items: center;
  width: auto;
  flex-direction: row;
  color: #fff;
}

.menuDark > nav > ul {
  width: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menuDark > nav > ul > li {
  list-style-type: none;
  padding: 10px 5px;
}

.menuDark > nav > ul > li > a {
  font-size: 13px;
  font-weight: 500;
}

.menuLetterSize a {
  display: flex;
  align-items: center;
  width: auto;
  flex-direction: row;
}

.menuLetterSize > nav > ul {
  width: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menuLetterSize > nav > ul > li {
  list-style-type: none;
  padding: 10px 5px;
}

.menuLetterSize > nav > ul > li > a {
  font-size: 20px;
  font-weight: 500;
}

.menuColorBlindness a {
  display: flex;
  align-items: center;
  width: auto;
  flex-direction: row;
}

.menuColorBlindness > nav > ul {
  width: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menuColorBlindness > nav > ul > li {
  list-style-type: none;
  padding: 10px 5px;
}

.menuColorBlindness > nav > ul > li > a {
  font-size: 15px;
  font-weight: 500;
}

.menu a {
  display: flex;
  align-items: center;
  width: auto;
  flex-direction: row;
}

.menu > nav > ul {
  width: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menu > nav > ul > li {
  list-style-type: none;
  padding: 10px 5px;
}

.menu > nav > ul > li > a {
  font-size: 15px;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

main > .banner-search {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

main > .banner-search .base-banner {
  border-radius: 15px;
  width: 74%;
  min-height: 516px;
}

main > .banner-search .base-bannerDark {
  border-radius: 15px;
  width: 74%;
  min-height: 516px;
}

main > .banner-search .base-bannerDark > img {
  border-radius: 15px;
  width: 100%;
  min-height: 516px;
}

main > .banner-search .base-banner > img {
  border-radius: 15px;
  width: 100%;
  min-height: 516px;
}

main > .banner-search > .search-reserve {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 8%;
  left: 0;
  height: fit-content;
  min-height: 416px;
  width: 35%;
  min-width: 355px;
  border: 1px solid #cacaca;
  box-shadow: 3px 3px 20px #343434;
  border-radius: 20px;
  padding: 25px;
  z-index: 999;
}

main > .banner-search .base-bannerDark > p {
  color: #fff;
}

main > .banner-search > .search-reserve > .header {
  margin-bottom: 10px;
}

.mainDark {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.mainDark > .banner-search {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.mainDark > .banner-search > img {
  border-radius: 15px;
  width: 74%;
  min-height: 516px;
}

.mainDark > .banner-search > .search-reserve {
  display: flex;
  flex-direction: column;
  background-color: #171613;
  position: absolute;
  top: 8%;
  left: 0;
  height: fit-content;
  min-height: 416px;
  width: 35%;
  min-width: 355px;
  border: 1px solid #cacaca;
  box-shadow: 3px 3px 20px #343434;
  border-radius: 20px;
  padding: 25px;
}

.mainDark > .banner-search > .search-reserve > .header {
  margin-bottom: 10px;
}
.mainDark > .banner-search > .search-reserve > .header h2 {
  color: #fff;
}
.mainDark > .banner-search > .search-reserve > .header p {
  color: #cacaca;
}

.row-input {
  display: flex;
}

.row-input > div {
  width: 48%;
}

.row-input > :nth-child(1) {
  margin-right: 10px;
}

.input-searchDark {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.input-searchDark select {
  color: #fff;
}

.input-searchDark .input-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid rgb(149, 149, 149);
  z-index: 0;
}

.input-searchDark label {
  display: flex;
  margin: 10px;
  flex-direction: column;
  color: #fff;
}

.input-searchDark span {
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  font-size: 10px;
  letter-spacing: 1px;
  z-index: 100;
  text-transform: uppercase;
  font-weight: 600;
}

.input-searchDark input {
  display: flex;
  z-index: 100;
  background: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  -webkit-appearance: none;
  color: #fff;
}

.input-searchDark input:focus + .input-layout {
  border: 1px solid rgb(149, 149, 149);
}

.input-searchDark select:focus + .input-layout {
  border: 1px solid rgb(149, 149, 149);
}

.input-searchDark select {
  display: flex;
  width: 120px;
  z-index: 100;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-size: 15px;
  background-color: #171613;
}

.input-search {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.input-search .input-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid rgb(149, 149, 149);
  z-index: 0;
}

.input-search label {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.input-search span {
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  font-size: 10px;
  letter-spacing: 1px;
  z-index: 100;
  text-transform: uppercase;
  font-weight: 600;
}

.mainLetterSize .input-search span {
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  font-size: 15px;
  letter-spacing: 1px;
  z-index: 100;
  text-transform: uppercase;
  font-weight: 600;
}

.input-search input {
  display: flex;
  z-index: 100;
  background: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  -webkit-appearance: none;
}

.input-search input:focus + .input-layout {
  border: 2px solid #000;
}

.input-search select:focus + .input-layout {
  border: 2px solid #000;
}

.input-search select {
  display: flex;
  width: 120px;
  z-index: 100;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-size: 15px;
  background-color: #fff;
}

.button-search {
  display: flex;
  margin-top: 10px;
}

.button-search button {
  display: flex;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  border: none;
  z-index: 100;
  cursor: pointer;
}

.button-search button span {
  display: flex;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 1px;
}

.assessments,
.sac {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  border-top: 1px solid rgb(188, 188, 188);
  padding-top: 40px;
}

.sacDark {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  border-top: 1px solid rgb(188, 188, 188);
  padding-top: 40px;
}

.sacDark h2 {
  color: #fff;
}

.sacDark p {
  color: #fff;
}

.box-base {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.box-base > :nth-child(1) {
  margin-right: 30px;
}

.box-base > :nth-child(2) {
  margin-right: 30px;
}

.box-hotel {
  display: flex;
  flex-direction: column;
  width: 30.5%;
  border-radius: 10px;
}

.box-hotel > img {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(156, 156, 156);
  height: 250px;
}

.box-hotel .stars {
  display: flex;
  margin: 12px 0;
}

.mainColorBlindness .box-hotel .stars > i {
  display: flex;
  margin-right: 5px;
  font-size: 16px;
  color: #fce803;
}

.box-hotel .stars > i {
  display: flex;
  margin-right: 5px;
  font-size: 16px;
  color: rgb(54, 102, 226);
}

.box-hotel .description p {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.box-hotel .foto {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.box-hotel .foto > img {
  display: flex;
  border-radius: 50px;
  width: 60px;
  margin-right: 10px;
  box-shadow: 3px 3px 10px rgb(156, 156, 156);
}

.box-hotel .foto span {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
}

.mainColorBlindness .box-hotel > i {
  font-size: 70px !important;
  margin-bottom: 10px;
  color: #fce803;
}
.box-hotel > i {
  font-size: 70px !important;
  margin-bottom: 10px;
  color: rgb(155, 39, 209);
}

.box-hotel > h3 {
  color: rgb(155, 39, 209);
}

.mainColorBlindness .box-hotel > h3 {
  color: #fce803;
}

.mainLetterSize .box-hotel > p {
  font-weight: 100;
  font-size: 20px;
}

.box-hotel > p {
  font-weight: 100;
  font-size: 16px;
}

.mainLetterSize .assessments p {
  font-size: 25px;
}

.mainLetterSize .assessments p strong {
  font-size: 25px;
}
.assessments p {
  font-size: 15px;
}

.assessments p strong {
  font-size: 15px;
}

.assessmentsDark p {
  font-size: 15px;
  color: #fff;
}

.assessmentsDark p strong {
  font-size: 15px;
  color: #fff;
}
.assessmentsDark h2 {
  margin-top: 15px;
  color: #fff;
}

.assessmentsDark span {
  color: #fff;
}

footer {
  margin: 0 5% !important;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 50px !important;
  border-top: 1px solid rgb(188, 188, 188);
  padding-top: 15px;
  margin-bottom: 30px !important;
}

footer > p {
  font-size: 20px;
}

footer > div > a i {
  display: flex;
  margin-right: 20px;
  color: rgb(147, 147, 147);
  font-size: 35px !important;
}

.footerDark {
  margin: 0 5% !important;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 50px !important;
  border-top: 1px solid rgb(188, 188, 188);
  padding-top: 15px;
  margin-bottom: 30px !important;
}

.footerDark > p {
  font-size: 20px;
  color: #fff;
}

.footerDark > div > a i {
  display: flex;
  margin-right: 20px;
  color: #fff;
  font-size: 35px !important;
}

.footerLinksDark {
  display: flex;
}

.switchContainer {
  display: flex;
  height: 50px;
  width: 100px;
  position: relative;
}

switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  height: 35px;
  width: 59px;
  top: 0;
  left: 15px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mainColorBlindness input:checked + .slider {
  background-color: #fce803;
}

.mainColorBlindness input:focus + .slider {
  box-shadow: 0 0 1px #fce803;
}

input:checked + .slider {
  background-color: rgb(155, 39, 209);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(155, 39, 209);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.footerLinks {
  display: flex;
}

.colorBlindnessIcon {
  display: flex;
  width: 35px;
  height: 35px;
  margin: 0 20px 0 0;
  background-image: url("../images/colorBlindnessIcon.png");
  cursor: pointer;
}
