input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

button {
  display: flex;
  justify-content: center;
  background-color: #333333;
  color: #fff;
}

button:hover {
  background-color: #686868;
  color: #fff;
}

button:active {
  background-color: #1b1b1b;
  color: #fff;
}

button[type="execute"] {
  display: flex;
  justify-content: center;
  background-color: rgb(155, 39, 209);
  color: #fff;
}

button[type="execute"]:hover {
  background-color: rgb(183, 66, 238);
  color: #fff;
}

button[type="execute"]:active {
  background-color: rgb(138, 66, 172);
  color: #fff;
}

button[type="executeColorBlindness"] {
  display: flex;
  justify-content: center;
  background-color: #fce803;
  color: #fff;
}

button[type="executeColorBlindness"]:hover {
  background-color: #fce803;
  color: #fff;
}

button[type="executeColorBlindness"]:active {
  background-color: #fce803;
  color: #fff;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
